.button {
    appearance: none;
    border: none;
    padding: .65em;

    &--dark {
        background: $color--dark;
        color: $color--light;
    }

    &--light {
        background: $color--light;
        color: $color--dark;
    }

    &[type="submit"] {
        width: 100%;
    }
}
