* {
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
}

body {
    background: $color--light;
    color: $color--dark;
    font: {
        family: "Helvetica Neue", sans-serif;
        size: 16px;
    }
    line-height: 1.55;
}

a,
button {
    &:hover,
    &:focus {
        background: darken($color--medium,10%);
    }
}

main {
    position: relative;
}
