header {
  background: $color--dark;
  display: flex;
  padding: 2em 5%;
}

h1 {
  flex: 1 1 auto;

  a {
    color: $color--light;
  }
}

.user-controls {
  color: $color--light;
  flex: 1 1 auto;
  text-align: right;

  a {
    margin: 0 5px;
  }
}
