{{#link-to 'signup' classNames='button button--dark'}}Sign Up{{/link-to}}
{{#link-to 'signin' classNames='button button--dark'}}Sign In{{/link-to}}
<div>&nbsp;</div>
<hr/>
<div>&nbsp;</div>

{{outlet}}