<div class="flex-container">

    <div class="recipe-card recipe-card--add-recipe flex-item js-add-recipe">
        {{#link-to 'create' classNames='recipe-card__thumbnail'}}
            <img src="https://placehold.it/243x162/ccc/222?text=Add+Recipe" alt="">
        {{/link-to}}
    </div>

    <div class="recipe-card flex-item">
        {{#link-to 'recipe' classNames='recipe-card__thumbnail'}}
            <img src="https://download.unsplash.com/photo-1423483641154-5411ec9c0ddf" alt="">
        {{/link-to}}
        <h1 class="recipe-card__title">Recipe Name</h1>
    </div>

</div>