<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Backbone Cookbook App</title>

    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>

<header class="flex-container">
  <h1 class="flex-item"><a href="/">Cookbook</a></h1>
  <div class="user-controls flex-item">
    <a id="js-add-recipe">Add Recipe</a>
    <a>Log out</a>
  </div>

</header>


<div class="recipe-view-classname" id="recipes-container"></div>


<main role="main">

  <section class="wrapper">

    <div class="flex-container">
      <form class="form form--create-recipe" action="">

        <div class="form__fieldset">
          <label class="form__label" for="image">Image</label>
          <input type="file" class="form__input" id="image">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="recipe-name">Recipe name:</label>
          <input type="text" class="form__input" id="recipe-name">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="recipe-author">Recipe by:</label>
          <input type="text" class="form__input" id="recipe-author">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="recipe-type">Recipe Type</label>
          <select name="recipe-type" id="recipe-type">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="dessert">Dessert</option>
          </select>
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="prep-time">Prep Time</label>
          <input type="text" class="form__input" id="prep-time">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="cook-time">Cook Time</label>
          <input type="text" class="form__input" id="cook-time">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="Cook Temperature">Cook Temperature</label>
          <input type="text" class="form__input" id="Cook Temperature">
        </div>

        <hr>

        <p>How many of what will this recipe yield?</p>

        <div class="form__fieldset">
          <label class="form__label" for="yield-amount">How many?</label>
          <input type="text" class="form__input" id="yield-amount">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="yield-value">What?</label>
          <input type="text" class="form__input" id="yield-value">
        </div>

        <hr>

        <p>Ingredients</p>

        <div class="form__fieldset">
          <label class="form__label" for="ingredient">Ingredient</label>
          <input type="text" class="form__input" id="ingredient-amount">
          <input type="text" class="form__input" id="ingredient-name">
        </div>

        <button id="js-add-ingredient" class="button button--dark">Add Another Ingredient</button>

        <hr>

        <div class="form__fieldset">
          <label class="form__label" for="recipe-directions">Directions:</label>
          <input type="text" class="form__input" id="recipe-directions    ">
        </div>

        <div class="form__fieldset">
          <label class="form__label" for="other-notes">Any other notes?</label>
          <input type="text" class="form__input" id="other-notes">
        </div>

        <button class="button button--dark" id="js-save-recipe" type="submit">Save Recipe</button>
      </form>
    </div>

    <!-- Templates -->
    <script id="js-tmpl-view-recipe" type="text/template">
      <div class="flex-container">

        <section class="recipe">
          <ul class="recipe__options">
            <li>Edit Recipe</li>
            <li>Delete Recipe</li>
          </ul>
          <img src="<%= image %>" alt="image:" class="recipe__hero">
          <h1 class="recipe__name"><%= name %> <small> by <%= author %></small></h1>
          <ul class="recipe__meta">
            <li><%= category %></li>
            <li>Prep Time: <%= prep_time %></li>
            <li>Cook Time: <%= cook_time  %></li>
            <li>Cook Temperature: <%= cook_temperature  %></li>
          </ul>
          <p>This recipe yields <%= yield_key %> <%= yield_value %></p>
          <p>Ingredients &amp; Directions</p>
          <ul class="recipe__ingredients">
            <li><%= ingredient_amount %> <%= ingredient_name  %></li>
          </ul>
          <p><%= directions %></p>
          <p><%= notes %></p>
        </section>

      </div>
    </script>

  </section>
</main>

<script src="js/lib/jquery-1.11.3.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script>
  var app = app || {};
</script>
<script src="js/models/recipe.js"></script>
<script src="js/collections/cookbook.js"></script>
<script src="js/views/recipe.js"></script>
<script src="js/views/cookbook.js"></script>
<script src="js/app.js"></script>
</body>
</html>
